:root {
    --mainEng-font: "Montserrat";
    --mainKor-font: "nanumSquareNeo";
    --mainNum-font: "gmarket";
  
    --mainBg-color: #f2f5f8;    /* 부드러운 파스텔 블루 톤 */
    --subBg100: #b18e7e;        /* 따뜻한 갈색 계열 */
    --subBg200: #9c775f;        /* 부드러운 베이지 계열 */
    --subBg300: #7f8b8e;        /* 갈색과 회색의 중간 톤 (변경 없음) */
    --subBg400: #8f9a96;        /* 연한 갈색과 회색의 중간 톤 (변경 없음) */
    --subBg500: #6f7f7b;        /* 녹색과 갈색의 중간 톤 */
  
    --white: #fff;
    --black: #000;
    --black100: #2b2b2b;
    --black200: #434343;
    --black300: #686868;
    --black400: #e0e0e0;
  
    font-family: var(--mainEng-font), var(--mainKor-font);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }
}
  
body {
    background-color: var(--mainBg-color);
}